{% extends "base.html" %} {% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <h4 class="page-title">
                        <a href="{{url_for('devices')}}">Network</a>
                    </h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{url_for('devices')}}">Network Devices</a>
                        </li>
                    </ol>
                </div>
                <div class="col-sm-6">
                    <div class="float-right d-none d-md-block">
                        <a
                            href="{{url_for('new_device')}}"
                            class="btn btn-success arrow-none waves-effect waves-light"
                            type="button"
                            aria-haspopup="true"
                            aria-expanded="false"
                        >
                            <i class="mdi mdi-plus mr-2"></i> New Device
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% if not devices: %}
        <span style="margin-left: 400px; margin-top: 150px;" class="h4 text-center">
            0 devices found</span
        >
        {% else: %} 
        <div class="card border border-dark rounded row">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Device Type</th>
                    <th scope="col">Name</th>
                    <th scope="col">State</th>
                    <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for device in devices: %}
                <tr>
                    <th scope="row">{{device.id}}</th>
                    <td>{{device.device_type}}</td>
                    <td>{{device.name}}</td>
                    <td id="deviceState{{device.id}}">
                        {% if device.state == 'active': %}
                        <span class="badge badge-success">CONNECTED</span>
                        {% else: %}
                        <span class="badge badge-danger">DISCONNECTED</span>
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-sm btn-info" href="{{url_for('devices', id=device.id)}}" class="stretched-link">Manage</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %} 
    </div>
</div>

<script>
    var getJSON = function(url, callback) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', url, true);
        xhr.responseType = 'json';
        xhr.onload = function() {
            var status = xhr.status;
            if (status === 200) {
                callback(null, xhr.response);
            } else {
                callback(status, xhr.response);
            }
        };
        xhr.send();
    };
    var update_devices_state = function() {
        getJSON('/api/devices/state',
            function(err, data) {
                if (err !== null) {
                } else {
                    for (var i = 0; i < data.length; i++) {
                        console.log(data[i])
                        if (data[i].state == "active") {
                            document.getElementById("deviceState"+data[i].id).innerHTML =
                            `<span class="badge badge-success">CONNECTED</span>` 
                        } else {
                            document.getElementById("deviceState"+data[i].id).innerHTML =
                            `<span class="badge badge-danger">DISCONNECTED</span>`
                        }
                    }
                }
            })
        }
    update_devices_state()
    setInterval(update_devices_state, 30000)  
</script>
{% endblock %}