{% extends "base.html" %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="page-title-box">
            <div class="row align-items-center">

                <div class="col-sm-6">
                    <h4 class="page-title">
                        <a href="{{url_for('devices')}}">Network</a> 
                    </h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{url_for('devices')}}">Network Devices</a> 
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{{url_for('new_device', id=device.id)}}">New</a> 
                        </li>
                    </ol>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
        </div>
        <form method="post">
            <div class="card" style="width: 100%">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="card-title">Device Information</div>
                            <div class="form-group form-inline">
                                <label for="deviceType">Device Type: </label>
                                <span>
                                <select class="form-control ml-3" id="deviceType" name="deviceType" 
                                        aria-describedby="deviceType" value="{{device.device_type}}" required>
                                    <option value="router">Router</option>
                                    <option value="switch">Switch</option>
                                </select>
                                </span>
                            </div>
                            <div class="form-group">
                                <div class="form-inline">
                                <label for="deviceName">Device Name: </label>
                                <span stlye="width: 100%;">
                                    <input type="text" class="form-control ml-3" 
                                    id="deviceName" name="deviceName" 
                                    aria-describedby="deviceName" placeholder="RouterName1"
                                    {% if device.name: %}
                                    value={{device.name}}
                                    {% endif%} 
                                    maxlength="40" required>
                                    </input>
                                </span>
                                </div>
                                <small class="form-text text-muted">
                                        The device name needs to be unique, it will be used to identify it in the future.
                                </small>
                            </div>
                            <div class="form-group">
                                    <label for="deviceDescription">Description: <span class="badge">Optional</span></label>
                                    <textarea class="form-control" id="deviceDescription" 
                                    name="deviceDescription" aria-describedby="deviceDescription" maxlength="200">{% if device.description != None %}{{device.description}}{% endif %}</textarea>
                                <small class="form-text text-muted">
                                    What is it use for? Where it's located?
                                </small>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card-title">SSH Connection</div>
                            <div class="form-group">
                                <div class="form-inline">
                                    <label for="deviceHost">Host (IP/domain): </label>
                                        <input type="text" class="form-control ml-3" id="deviceHost"
                                         name="deviceHost" aria-describedby="deviceHost" placeholder="10.0.0.1"
                                         {% if device.host: %}
                                         value="{{device.host}}" 
                                         {% endif %}
                                         maxlength="100" required>
                                        </input>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-inline">
                                    <label for="deviceUser">Username: </label>
                                        <input type="text" class="form-control ml-3" id="deviceUser" 
                                        name="deviceUser" aria-describedby="deviceUser" placeholder="user"
                                        {% if device.ssh_username: %}
                                        value="{{device.ssh_username}}"
                                        {% endif %}
                                        maxlength="60" required>
                                        </input>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-inline">
                                    <label for="devicePassword">Password: </label>
                                        <input type="password" class="form-control ml-3" 
                                                id="devicePassword" name="devicePassword" 
                                                aria-describedby="devicePassword" placeholder="password"
                                                {% if device.ssh_password: %}
                                                value="{{device.ssh_password}}"
                                                {% endif %}
                                                maxlength="60" required>
                                        </input>
                                </div>
                            </div>
                            <button type="button" onclick="tryDeviceConnectionFromForm()" class="btn btn-sm btn-primary"><i class="mdi mdi-chevron-double-right"></i> Check Connection</button> Connection Status: <span id="connectionStatus">-</span>
                        </div>
                        
                    </div>
                    <div class="card-footer bg-transparent row">
                        <div class="col">
                            {% if error: %}
                                <div class="alert alert-dark alert-dismissible fade show" role="alert">
                                    <strong>Error!</strong> {{error}}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col">
                            <div class="float-right">
                            <a href="{{ url_for('devices') }}" class="btn btn-secondary">Cancel</a>
                            <button type="submit" class="btn btn-success">Create New Device</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                          
        </form>
    </div>
</div>
<script src="{{url_for('static', filename='js/device.js')}}"></script>
{% endblock %}