{% extends "base.html" %} {% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <h4 class="page-title">
                        <a href="{{url_for('devices')}}">Network</a>
                    </h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{url_for('devices')}}">Network Devices</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{{url_for('devices', id=device.id)}}">{{device.name}}</a>
                        </li>
                    </ol>
                </div>
                <div class="col-sm-6">
                    <div class="float-right d-none d-md-block">
                        <a href="{{url_for('device_running_config', id=device.id)}}" class="btn btn-info">
                            <i class="mdi mdi-file mr-2"></i>Running Config
                        </a>
                        <a href="{{url_for('device_logs', id=device.id)}}" class="btn btn-info">
                            <i class="mdi mdi-information mr-2"></i>Logs
                        </a>
                        <a href="{{url_for('update_device', id=device.id)}}" class="btn btn-primary">
                            <i class="mdi mdi-settings mr-2"></i>Settings
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="card-title">
                            Device Information
                        </div>
                        <div class="form-group form-inline">
                            <label for="deviceType">Device Type: </label>
                            <span>
                                <span class="ml-3">
                                    {{device.device_type}}
                                </span>
                            </span>
                        </div>
                        <div class="form-group">
                            <div class="form-inline">
                                <label for="deviceName">Device Name: </label>
                                <span stlye="width: 100%;">
                                    <span class="ml-3">
                                        {{device.name}}
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <label for="deviceDescription">Description:</label>
                            </div>
                            <small class="form-text text-muted">
                                {{device.description}}
                            </small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card-title">SSH Connection</div>
                        <div class="form-group">
                            <div class="form-inline">
                                <label for="deviceHost">Host (IP/domain): </label>
                                <div class="ml-2">
                                    {{device.host}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-inline">
                                <label for="deviceUser">Username: </label>
                                <span stlye="width: 100%;">
                                    <div id="" class="ml-2">
                                        {{device.ssh_username}}
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-inline">
                                <label for="devicePassword">Password: </label>
                                <span stlye="width: 100%;">
                                    <div class="ml-2">******</div>
                                </span>
                            </div>
                        </div>
                        <button
                            onclick="tryDeviceConnection('{{device.host}}', '{{device.ssh_username}}', '{{device.ssh_password}}')"
                            class="btn btn-sm btn-primary">
                            <i class="mdi mdi-chevron-double-right"></i> Check Connection
                        </button>
                        Connection Status: <span id="connectionStatus">-</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card-title">Interfaces:</div>
                        <div>
                            {% for interface in device.interfaces: %}
                            <a href="{{url_for('interfaces', id=interface.id)}}"
                                class="btn btn-sm btn-dark">{{interface.name}}</a>
                            {% endfor%}
                        </div>
                        <br />
                        <div>
                            <button onclick="updateDeviceInterfaces('{{device.id}}')" class="btn btn-sm btn-primary">
                                <i class="mdi mdi-chevron-double-right"></i>
                                Import Interfaces
                            </button>
                            <span>Status:</span>
                            <span id="checkNewInterfacesStatus"></span>
                        </div>
                    </div>
                </div>
                <br />

                <div class="card-footer bg-transparent row">
                    <div class="col">
                        {% if feedback: %}
                        <div class="alert alert-dark alert-dismissible fade show" role="alert">
                            {{feedback}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col">
                        <div class="float-right">
                            <a href="{{url_for('devices')}}" class="btn btn-secondary">Get Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{url_for('static', filename='js/device.js')}}"></script>
{% endblock %}