{% extends "base.html" %} {% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <h4 class="page-title">
                        <a href="{{url_for('devices')}}">Network</a>
                    </h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{url_for('devices')}}">Network Devices</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a
                                href="{{url_for('devices', id=interface.device.id)}}"
                                >{{interface.device.name}}</a
                            >
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{{url_for('interfaces', id=interface.id)}}"
                                >{{interface.name}}</a
                            >
                        </li>
                    </ol>
                </div>
                <div class="col-sm-6 ">
                    <div class="float-right d-none d-md-block">
                        <a
                            href="{{url_for('update_interface', id=interface.id)}}"
                            class="btn btn-primary"
                        >
                            <i class="mdi mdi-settings mr-2"></i>
                            Settings
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <form>
            <div class="card" style="width: 100%">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="card-title">Interface Information</div>
                            <div class="form-group form-inline">
                                <label for="deviceType">Interface: </label>
                                <span>
                                    <span class="ml-3">
                                        {{interface.name}}
                                    </span>
                                </span>
                            </div>
                            <div class="form-group">
                                <div class="form-inline">
                                    <label for="deviceName">Bandwidth: </label>
                                    <span stlye="width: 100%;">
                                        <span class="ml-3">
                                            {% if interface.bandwidth: %}
                                            {{interface.bandwidth}} kbps {%
                                            else: %} - {% endif %}
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label for="deviceDescription"
                                        >Description:</label
                                    >
                                </div>
                                <small class="form-text text-muted">
                                    {% if interface.description: %}
                                    {{interface.description}} {%else: %} - {%
                                    endif %}
                                </small>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card-title">Policy</div>
                            <div class="form-group">
                                <div class="form-inline">
                                    <label for="deviceHost"
                                        >Current Policy:
                                    </label>
                                    <div class="ml-2">
                                        <div>
                                            {% if interface.policy: %}
                                            <a
                                                href="{{url_for('policies',id=interface.policy.id)}}"
                                                class="btn btn-sm btn-dark"
                                                >{{interface.policy.name}}</a
                                            >
                                            {% else: %} - {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="charts">
                        <span id="loading" style="margin-left: 45%;"><img src="/static/images/loading4.svg"  width="30"></img><br>
                        </span>
                    </div>
                    <br />
                    <div class="card-footer bg-transparent">
                        <div class="float-right">
                            <a
                                href="{{url_for('devices',id=interface.device.id)}}"
                                class="btn btn-secondary"
                                >Get Back</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="https://momentjs.com/downloads/moment.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>


<script>
    var getJSON = function(url, callback) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', url, true);
        xhr.responseType = 'json';
        xhr.onload = function() {
        var status = xhr.status;
        if (status === 200) {
            callback(null, xhr.response);
        } else {
            callback(status, xhr.response);
        }
        };
        xhr.send();
    };
    var obj = {}
    var firstTime = true
    var update_charts = function() {
        getJSON('/api/interfaces/{{interface.id}}',
        function(err, data) {
            if (err !== null) {
                document.getElementById('loading').remove()
            } else {
                for (const [key, stat] of Object.entries(data.data)) {
                    if (firstTime == true) {
                        html = `
                        <div>
                            <canvas id="${key}"></canvas>
                        </div>
                        <br>
                        <div>
                            <canvas id="${key}speed"></canvas>
                        </div>
                        `
                        document.getElementById('charts').insertAdjacentHTML("beforeend", html);
                    }
                    
                    var data1 = [], data2 = [], data3 = []

                    for (i = 0; i < stat.dates.length; i++) {
                        data1.push({
                            t: new Date(stat.dates[i]),
                            y: stat.offered_rates[i]/1000,
                        })  
                        data2.push({
                            t: new Date(stat.dates[i]),
                            y: stat.drop_rates[i]/1000,
                        })
                        data3.push({
                            t: new Date(stat.dates[i]),
                            y: (stat.offered_rates[i]/1000.0)/30.0,
                        })
                    } 
                    if (firstTime == true) {
                        var ctx = document.getElementById(key).getContext('2d');
                        var cty = document.getElementById(key+"speed").getContext('2d');

                        obj[key] = new Chart(ctx, {
                            type: 'line',
                            data: {
                                datasets: 
                                [{ 
                                    data: data1,
                                    label: "OFFERED RATE (last 30 seconds)",
                                    borderColor: "green",
                                    fill: false}, 
                                    { 
                                    data: data2,
                                    label: "DROP RATE (last 30 seconds)",
                                    borderColor: "white",
                                    fill: false
                                }]
                            },
                            options: {
                                tooltips: {
                                    enabled: true,
                                    intersect: false,
                                },
                                title: {
                                    display: true,
                                    text: `Class: ${key}`,
                                    fontColor: 'white'
                                },
                                legend: {
                                    labels: {
                                        fontColor: 'white'
                                    }
                                },
                                scales: {
                                    xAxes: [{
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Time',
                                            fontColor: 'white',
                                        },
                                        type: 'time',
                                        time: {
                                            unit: 'second',
                                            stepSize: 10,
                                        }, 
                                    }],
                                    yAxes: [{
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Matched Traffic',
                                            fontColor: 'white'
                                        },
                                        ticks: {
                                            beginAtZero: true,
                                            fontColor: 'white',
                                            callback: function(value, index, values) {
                                                return value + 'Kb';
                                            }
                                        }
                                    }]
                                }
                            }
                        });

                        obj[key+"speed"] = new Chart(cty, {
                            type: 'line',
                            data: {
                                datasets: 
                                [{ 
                                    data: data3,
                                    label: "Average Speed (last 30 seconds)",
                                    borderColor: "green",
                                    fill: false}]
                            },
                            options: {
                                tooltips: {
                                    enabled: true,
                                    intersect: false,
                                },
                                title: {
                                    display: true,
                                    text: `Class: ${key}`,
                                    fontColor: 'white'
                                },
                                legend: {
                                    labels: {
                                        fontColor: 'white'
                                    }
                                },
                                scales: {
                                    xAxes: [{
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Time',
                                            fontColor: 'white',
                                        },
                                        type: 'time',
                                        time: {
                                            unit: 'second',
                                            stepSize: 10,
                                        }, 
                                    }],
                                    yAxes: [{
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Speed',
                                            fontColor: 'white'
                                        },
                                        ticks: {
                                            beginAtZero: true,
                                            fontColor: 'white',
                                            callback: function(value, index, values) {
                                                return value + 'Kbps';
                                            }
                                        }
                                    }]
                                }
                            }
                        });
                    } else {
                        obj[key].data.datasets = [{
                            data: data1,
                            label: "OFFERED RATE (last 30 seconds)",
                            borderColor: "green",
                            fill: false}, 
                            { 
                            data: data2,
                            label: "DROP RATE (last 30 seconds)",
                            borderColor: "white",
                            fill: false
                        }]
                        obj[key].update()

                        obj[key+"speed"].data.datasets = [{
                            data: data3,
                            label: "Average Speed (last 30 seconds)",
                            borderColor: "green",
                            fill: false
                        }]
                        obj[key+"speed"].update()
                    }
                }
            }
            if (firstTime == true){
                document.getElementById('loading').remove()
            }
            firstTime = false
        })
    }
    update_charts()
    setInterval(update_charts, 40000)
</script>
{% endblock %}
